.root {
    -fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
    -fx-background-color: #494949;
}
.mainPane{
    -fx-text-fill: #ffffff;
    -fx-font-family: sans-serif;
    -fx-background-color: #494949;
}
#controlPane {
    -fx-background-color: #494949;
    -fx-text-fill: #ffffff;

}
.controlButton {
    -fx-background-color: #318fe8;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}
.controlButton:hover{
    -fx-background-color: #1868af;
}
.controlButton:pressed{
    -fx-background-color: #074678;
}

#playPauseButton{
    -fx-background-color: #c3073f;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
}
#playPauseButton:hover{
    -fx-background-color: #9a1750;
}
#playPauseButton:pressed{
    -fx-background-color: #800530
}

.additionalButton{
    -fx-background-color: #1868af;
    -fx-text-fill: #ffffff;
}
.additionalButton:hover{
      -fx-background-color: #105592;
}
.additionalButton:pressed{
    -fx-background-color: #074678;
}
#speedButton{
    -fx-font-size: 12px;
}

#labelSongDescription, #labelTime, #labelVolume, #labelSpeed{
    -fx-text-fill: #ffffff;
}
.slider{

}


.table-view{
    -fx-background-color: #696969;
    -fx-text-fill: #ffffff;
}
.table-row-cell:odd{
    -fx-background-color: #A9A9A9;
    -fx-text-fill: #ffffff;
}.table-row-cell:even{
    -fx-background-color: #808080;
    -fx-text-fill: #ffffff;
}